{% extends "ShiawaContestBundle:Cosplay:layout.html.twig" %}

{% block title %}Ajout d'un Cosplay - {{ parent() }}{% endblock %}

{% block body %}
<main class="container">
    <h3>Formulaire d'ajout d'un Cosplay</h3>

    {{ include("ShiawaContestBundle:Cosplay:form.html.twig") }}
</main>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}