{% block slider %}
    <div class="slider slider-anime">
        <ul class="slides">
            <li>
                <img src="https://i.ytimg.com/vi/YOw2XBZAbP8/maxresdefault.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3 class='big-title'>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3 big-title">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lh3.googleusercontent.com/-UbKj1ic_rLY/VwmSB4BTuiI/AAAAAAAACy4/N87XtWLuN1IMvbNmentNrHNqILqBEC9AQ/w1920-h1080/%255BHorribleSubs%255D%2BHaifuri%2B-%2B01%2B%255B1080p%255D.mkv_snapshot_12.42_%255B2016.04.10_01.30.12%255D.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3 class='big-title'>Left Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3 big-title">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="http://otakuafterthoughts.com/wp-content/uploads/2016/04/vlcsnap-2016-04-10-15h53m41s030.png"> <!-- random image -->
                <div class="caption right-align">
                    <h3 class='big-title'>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3 big-title">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="http://www.macrossworld.com/macrosswp/wp-content/uploads/2016/01/IMG_1460.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3 class='big-title'>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3 big-title">Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}