{% block slider %}
    <div class="slider slider-anime">
        <ul class="slides">
            <li>
                <img src="https://puu.sh/q8FQi/56a5c7b2ae.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3 class='light grey-text text-lighten-4 big-title'>Découvrez les <span
                                class="pink-text text-lighten-1">meilleurs Anime</span></h3>
                    <h5 class="light grey-text text-lighten-4 big-title">Grâce à nos <span class="pink-text
                    text-lighten-1">Partenaires</span> !</h5>
                </div>
            </li>
            <li>
                <img src="https://puu.sh/q8Fm5/f2beb49614.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3 class='light grey-text text-lighten-3 big-title'>Les nouvelles saisons sont là !</h3>
                    <h5 class="light grey-text text-lighten-3 big-title">Retrouvez toutes les <span class="pink-text
                    text-lighten-1">nouveautés</span> chaque
                        saison !</h5>
                </div>
            </li>
            <li>
                <img src="https://puu.sh/q8EnQ/c8dbf08097.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3 class='light grey-text text-darken-4 big-title'>Du contenu légal pour la
                        <span class="pink-text text-lighten-1">Japanimation</span> !</h3>
                    <h5 class="light grey-text text-darken-4 big-title">Soutenez les studios au Japon !</h5>
                </div>
            </li>
            <li>
                <img src="https://puu.sh/q8EqL/1591bbd870.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3 class='light pink-text text-lighten-1 big-title'>Les critiques de vos Anime</h3>
                    <h5 class="light grey-text text-darken-4 big-title">Les <span class="pink-text text-lighten-1">adhérents</span> donnent leurs
                        points de vue
                        d'experts !</h5>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}