{% extends "AppBundle:Core:layout.html.twig" %}

{% block DC_description %}
    Shiawa.fr, site d'actualité sur le Japon. Retrouvez tout sur l'actualité japonaise ! Que ce soit dans les domaines de la cuisine, du jeu, et plus encore !
{% endblock %}

{% block DC_title %}Japon - Shiawa.fr - Site d'actualité Japonaise{% endblock %}

{% block desc %}
    Shiawa.fr, site d'actualité sur le Japon. Retrouvez tout sur l'actualité japonaise ! Que ce soit dans les domaines de la cuisine, du jeu, et plus encore !
{% endblock %}

{%  block OG_image %}{{ parent() }}{% endblock %}

{%  block OG_title %}Japon - Shiawa.fr - Site d'actualité Japonaise{% endblock %}

{%  block OG_desc %}
    Shiawa.fr, site d'actualité sur le Japon. Retrouvez tout sur l'actualité japonaise ! Que ce soit dans les domaines de la cuisine, du jeu, et plus encore !
{% endblock %}

{% block title %} Japon - {{ parent() }} {% endblock %}

{% block menu %}
{{ include("AppBundle:Japon:nav.html.twig") }}
{% endblock %}

{% block body %}

    <div class='container'>
        <div class='row'>
            {% block content %}{% endblock %}
            {{ render(controller("AppBundle:Core:aside")) }}
        </div>
    </div>
{% endblock %}