{% extends "ShiawaUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="center">
                Réinitialisez votre mot de passe
            </h1>
        </div>
        <div class="col s12 m6 offset-m3" style="height: 50vh;">
            <div class="card-panel">
                {% include "ShiawaUserBundle:ChangePassword:change_password_content.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
