{% extends "ShiawaBlogBundle:Anime:layout.html.twig" %}

{% block title %}Ajout d'un épisode - {{ parent() }}{% endblock %}

{% block body %}
<main class="container">
    <h3>Formulaire d'ajout d'un épisode</h3>

    {{ include("ShiawaBlogBundle:Episode:form.html.twig") }}
</main>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}