{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mon profil - {{ parent() }}{% endblock %}

{% block navbar_title %}
    <a href="{{ path('shiawa_homepage') }}" class="brand-logo">Profil</a>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
