{% extends "ShiawaEventBundle:Event:layout.html.twig" %}

{% block title %}Ajout d'événement - {{ parent() }}{% endblock %}

{% block body %}
<main class="container">
    <h3>Formulaire d'ajout d'événement</h3>

    {{ include("ShiawaEventBundle:Event:form.html.twig") }}
</main>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}