article.article{
  .title-section{
    @extend h1;
  }
  .content-article {
    h2, h3{
      font-weight: lighter ;
    }
    h3{

    }
    img{
      max-width: 100%;
      height: auto;
    }
    ul{
      li{
        list-style-type: initial;
      }
    }
  }
}