.card {
  .card-image {
    .card-title.bar {
      background: white;
      color: black;
      height: 50px;
      bottom: 20px;
      text-align: center;
      padding: 0 10px;
    }
  }
}

.card-custom{
  @extend .card;

  .card-image{
    overflow: hidden;
    height: 200px;

    image{
      position: absolute;
    }

    .card-title{
      right: 0px;
      padding: 6px;
      background: rgba(236, 32, 122, .7);
    }
  }
}

.card.horizontal.custom {
  @media #{$medium-and-down} {
    flex-direction: column;

    .card-image{
      max-width: 100%;
      margin: 0 auto;
    }
  }
}