{% extends "AppBundle:Admin:layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                {% for video in videos.items %}
                    <div class="card-panel">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.contentDetails.videoId }}" frameborder="0" allowfullscreen></iframe>
                        <a href="https://youtube.com/watch?v={{ video.contentDetails.videoId }}">Voir la vidéo :)</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}