.card-profile-image{
  img{
    max-height: 100%;
    width: auto;
    max-width: initial;
  }
  #upload-file-container{
    display: none;
  }
  &:hover, & image:hover{
    #upload-file-container{
      display: block;
      position: absolute;
      top: 0;
      bottom:0;
      right:0;
      left:0;
      background: rgba(20,20,20,.6);
      padding: 15px;
      padding-top: 30px;
      label{
        position: absolute;
        color: $primary-color;
        cursor: pointer;
      }
      input{
        display: none;
      }
    }
  }
}

.avatar-cropping-container{
  width: 100%;
  height:auto;
  #avatar-cropping{
    max-width: 100%;
    height:auto;
  }
}
