{% extends "AppBundle:Core:layout.html.twig" %}

{% block DC_description %}
    Shiawa.fr, site d'actualité sur le Cosplay. Retrouvez toutes les informations sur les concours, les conventions, nos photos et vidéos lors d'événements en France !
{% endblock %}

{% block DC_title %}Cosplay - Shiawa.fr - Site d'actualité de Cosplay{% endblock %}

{% block desc %}
    Shiawa.fr, site d'actualité sur le Cosplay. Retrouvez toutes les informations sur les concours, les conventions, nos photos et vidéos lors d'événements en France !
{% endblock %}

{%  block OG_image %}{{ parent() }}{% endblock %}

{%  block OG_title %}Cosplay - Shiawa.fr - Site d'actualité Cosplay{% endblock %}

{%  block OG_desc %}
    Shiawa.fr, site d'actualité sur le Cosplay. Retrouvez toutes les informations sur les concours, les conventions, nos photos et vidéos lors d'événements en France !
{% endblock %}

{% block title %} Cosplay - {{ parent() }} {% endblock %}

{% block menu %}
{{ include("AppBundle:Cosplay:nav.html.twig") }}
{% endblock %}

{% block body %}

    <div class='container'>
        <div class='row'>
            {% block content %}{% endblock %}
            {{ render(controller("AppBundle:Core:aside")) }}
        </div>
    </div>
{% endblock %}