{% extends "AppBundle:Admin:layout.html.twig" %}

{% block title %}Ajout d'un utilisateur - {{ parent() }}{% endblock %}

{% block content %}
    <main class="container">
        <h3>Formulaire d'ajout d'un utilisateur</h3>

        {{ include("ShiawaUserBundle:Admin:form.html.twig") }}
    </main>
{% endblock %}