{% if lastAnimes is not empty %}
<div class='container-fluid'>
    <div class="row">
        <div class='col s12'>
            <div class='card z-depth-0'>
                <div class='card-content'>
                    <h2 class='title-section'>Nouveautés Anime <small>Toute la japanimation saisonnière</small></h2>

                    <div class="frame" id="basic">
                        <ul class="clearfix">
                            {% for anime in lastAnimes %}
                            <li><a href="{{ path('shiawa_anime_view', {'slug': anime.slug}) }}"><img src="{{ anime
                                    .image }}"
                                            /></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div style='margin-top: 15px;' class="scrollbar">
                        <div class="handle">
                            <div class="mousearea"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
{% endif %}