/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 avr. 2016, 23:28:19
    Author     : Fabien
*/
@import "materialize.scss";

html, body{
    width: 100%;
}

.clear{
    clear: both;
}

.row .title-new{
    padding: 0px 0px;
    color: #ec407a; 
    margin: 15px 0px;
    border-bottom: 4px solid #212121;
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.big-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.title-section{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #ec407a;
    small{
        display: block;
        margin-top: 4px;
        font-weight: normal;
        color: grey;
    }
}

.item-episode-accueil{
    width: 100%;
    padding: 8px;
    font: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 4px;
    background-color: #eeeeee;
    transition: 0.4s;
    a{
        //color: white;
    }
    img{
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0px;
    }
    &:hover{
        background-color: #e0e0e0;
    }
}

.article-pw{
    
    .title-article{
        a{
            color: black;
            &:hover{
                color:#ec407a;
            }
        }
    }
    
    img{
        transition: 0.5s;
        &:hover{
            transform:rotate(-2deg);
        }
    }
    
}


