{% extends "ShiawaBlogBundle:Article:layout.html.twig" %}

{% block title %}Modification d'article - {{ parent() }}{% endblock %}

{% block body %}
<main class="container">
    <h3>Editez l'article</h3>

    {{ include("ShiawaBlogBundle:Article:form.html.twig") }}
</main>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            var $container = $('div#article_edit_tags');

            var index = $container.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_tag').click(function(e) {
                addTag($container);

                e.preventDefault();
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un
            if (index == 0) {
                addTag($container);
            } else {
                // S'il existe déjà des tags, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire TagType
            function addTag($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                                .replace(/__name__label__/g, 'Tag n°' + (index+1))
                                .replace(/__name__/g,        index)
                        ;

                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                // On ajoute au prototype un lien pour pouvoir supprimer le tag
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'un tag
            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" class="btn-flat red white-text">Supprimer</a>');

                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer le tag
                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>
{% endblock %}